html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.board-height {
    height: 80vh;
}

@media only screen and (max-width: 767px) {
    /* Your CSS for mobile goes here */
    .board-height {
        height: 40vh;
    }
}