@model GameData

@{
    ViewData["Title"] = "Home Page";
}

@* d-flex justify-content-center align-items-center *@
<div class="row g-0">
    <div id="options-div" class="col-12 col-md p-2">
        <h4>Options</h4>
        <button class="btn btn-danger" onclick="clearBoard()">Reset</button>
    </div>
    <div id="mainBoard" class="col-12 col-md-6 row g-0 board-height">
        @foreach (var item in Model.GameBoardArray)
        {
            @Html.Raw(item.Block)
        }
    </div>
    <div id="score-div" class="col-12 col-md p-2">
        <h4 class="text-center">Scoreboard</h4>
    </div>
</div>

@section scripts {
    <script src="~/js/PageLogic.js" defer></script>
}
