@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center">
    <div id="mainBoard" class="border col-12 col-md-6 row board-height"> </div>
</div>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(async function ()
        {
            drawBoard();
        });

        function drawBoard()
        {
            let blockArray = [];
          
            for (let i = 0; i < 9; i++)
            {
                let block = `<div class="col-4 border" id="block-${i}">&nbsp;</div>`;
                blockArray.push(block);
            }
            
            $("#mainBoard").append(blockArray.join(""));
        }
    </script>
}
